<footer class="footer">
  <div class="content has-text-centered mt-auto">
    {% include 'partials/socials.html' %}
    <br>
  </div>
  <small class="is-pulled-right">Last Updated - {% currentTime %}</small>
</footer>