<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" aria-label="Go back to the homepage">
      {% if config.logo %}
      <img id="logo" src="{{config.logo}}" width="30" height="30" alt="ltn games logo">
      {% else %}
      <span style="font-size: 1.3rem;">{{ config.siteName }}</span>
      {% endif %}
    </a>

    <a id="mainMenuBurger" role="button" class="navbar-burger is-dark" aria-label="menu" aria-expanded="false" data-target="mainMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainMenu" class="navbar-menu">
    <div class="navbar-start" id="navbar-links">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% for item in config.navbarItems %}

        {% if item.items %}
        <div class="navbar-item has-dropdown is-hoverable is-dark">
          <a class="navbar-link">
            {{item.text}}
          </a>
          <div class="navbar-dropdown is-dark">
            {% for dropdownItem in item.items %}
            <a class="navbar-item" href="{{dropdownItem.href}}">
              {{dropdownItem.text}}
            </a>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <a class="navbar-item" href="{{item.href}}">{{item.text}}</a>
        {% endif %}
        {% endfor %}
        <div class="buttons">
          <button id="theme-toggle" class="button is-dark">
            <span id="theme-icon"></span>
            <!-- <span id="theme-text"></span> -->
          </button>
        </div>
      </div>

      <div class="navbar-item">
        {% include 'partials/socials.html' %}
      </div>
    </div>

  </div>
</nav>

<script>
  const mainMenu = document.getElementById('mainMenu');
  const navbarBurger = document.getElementById('mainMenuBurger');

  navbarBurger.addEventListener('click', (event) => {
    if (mainMenu.classList.contains('is-active')) {
      mainMenu.classList.add('closing');

      mainMenu.addEventListener('animationend', function onAnimationEnd () {
        mainMenu.classList.remove('is-active');
        mainMenu.classList.remove('closing');
        mainMenu.removeEventListener('animationend', onAnimationEnd); // Remove the listener
      }, { once: true });;
    } else {
      mainMenu.classList.add('is-active');
    }
  });

  // Theme switcher

  const themeToggle = document.getElementById('theme-toggle');
  const themeIcon = document.getElementById('theme-icon');
  const themeText = document.getElementById('theme-text');

  function switchTheme () {
    const currentTheme = document.documentElement.getAttribute('data-theme');
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';

    localStorage.setItem('theme', newTheme);

    document.documentElement.setAttribute('data-theme', newTheme);

    updateButtonContent(newTheme);
  }

  function updateButtonContent (theme) {
    if (theme === 'light') {
      themeIcon.innerHTML = '<i class="iconoir-sun"></i>';
      themeText.textContent = 'Light';
    } else {
      themeIcon.innerHTML = '<i class="iconoir-moon"></i>';
      themeText.textContent = 'Dark';
    }
  }

  themeToggle.addEventListener('click', switchTheme);

  function initializeTheme () {
    const storedTheme = localStorage.getItem('theme');

    if (storedTheme) {
      document.documentElement.setAttribute('data-theme', storedTheme);
      updateButtonContent(storedTheme);
    } else {
      const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
      const initialTheme = userPrefersDark ? 'dark' : 'light';
      document.documentElement.setAttribute('data-theme', initialTheme);
      updateButtonContent(initialTheme);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    initializeTheme();
    console.log('initialize theme');
  })
</script>