<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{metaDescription}}">
<meta charset="UTF-8">
<title>{{ config.siteName }} | {{ title }}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="icon" type="image/png" sizes="512x512" href="/static/img/favicons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/img/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="48x48" href="/static/img/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
{% block head %}{% endblock %}