---
pagination:
  data: collections.writings
  size: 6
  alias: writings
---

{% layout 'layouts/base.html' %}\

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/blog.css">
{% endblock %}

{% assign paginationData = pagination %}

{% block body %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title"> Truth Writings </p>
    </div>
  </div>
</section>
<div class="container is-max-desktop">
  {% include 'partials/pagination.html' %}
  <div class="posts">
    {%- for writing in writings -%}
    <a class="card-link" href="{{writing.url}}">
      <div class="card">
        <div class="card-content">
          {% assign dateString = writing.data.dateString %}

          <div class="card-content">
            <p class="title is-size-3">{{ writing.data.title }}</p>
            <p class="subtitle is-size-6"> About {{writing | readingTime}} reading time </p>
            <p>{{ writing.data.excerpt }}</p>
          </div>
        </div>

        <div class="card-footer">
          <a href="{{writing.url}}" class="card-footer-item">Read</a>
          <a href="#" class="card-footer-item">Share</a>
        </div>
      </div>
    </a>
    {%- endfor -%}
  </div>
  {% include 'partials/pagination.html' %}
</div>
</div>
{% endblock %}