<!DOCTYPE html>
<html lang="en" data-theme="system">

<head>
  {% include 'partials/head.html' %}
  {% block head %}{% endblock %}
</head>

<body>
  {% include 'partials/header.html' %}
  {% block body %}

  {% endblock %}
</body>

</html>